html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    margin: 0;
    height: 100%;
}

.title {
    line-height: 2.5;
    border-bottom: none;
    margin-bottom: 12px;
    font-weight: 200;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number] {
    width: 100%;
    padding: 7px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
.country,
textarea {
    border: 1px solid #ccc;
}

.country {
    padding: 5px;
    width: 100%;
}

textarea {
    padding: 8px;
    height: 150px;
    width: 100%;
}

h1 {
    margin: 15px;
}

.header {
    font-weight: lighter;
}

.sticky_label {
    font-size: 12px;
}

.container {
    width: 100%;
}

.note_para {
    margin: 2px 0 4px 0;
    font-weight: 600;
    color: #5a5757;
}

.btn_submit {
    background-color: #237ABE;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 24px;
}

.contact-left,
.address-right {
    float: left;
    padding: 20px;
}

.contact_container:after {
    content: "";
    display: table;
    clear: both;
}

.product_left,
.notes_right,
.grid-col-s,
.size_70,
.size_30,
.comments,
.col-spacing {
    padding: 5px 10px;
}

.product_left,
.notes_right {
    width: 100% !important;
    float: left;
}

.grid_row::after {
    content: "";
    display: table;
    clear: both;
}

.grid-col-s {
    float: left;
    width: 100%;
}

.size_70,
.size_30 {
    float: left;
}

.product_left,
.notes_right {
    padding: 20px !important;
}

.col-spacing {
    padding: 5px 10px;
}

@media(max-width:480px) {
    .header {
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .grid-col-md {
        width: 50% !important;
    }
    .product_left,
    .notes_right {
        padding: 20px !important;
    }
    .size_70 {
        width: 68% !important;
    }
    .size_30 {
        width: 32% !important;
    }
    .title {
        border-bottom: 1px solid #ccc;
    }
}

@media (min-width:769px) {
    .grid-col-l {
        width: 50% !important;
    }
    .product_left {
        width: 50% !important;
    }
    .notes_right {
        width: 50% !important;
    }
    .size_70 {
        width: 68% !important;
    }
    .size_30 {
        width: 32% !important;
    }
    .contact-left {
        width: 35% !important;
    }
    .address-right {
        width: 65% !important;
    }
    .title {
        border-bottom: 1px solid #ccc;
    }
    .street-address {
        display: none;
    }
}