    html,
    body,
    div {
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
    
    .padding-x {
        padding: 0 5px;
    }
    
    .backcolor-white {
        background-color: #fff;
    }
    
    .color-grey {
        color: #6e6e6e;
    }
    
    .header {
        width: 100%;
        height: auto;
        padding: 0 50px;
    }
    
    .header::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .header-logo {
        width: 25%;
    }
    
    .header-logo,
    .header-navigation {
        float: left;
    }
    
    .header-navigation a {
        color: #4a4a4a;
    }
    
    a {
        text-decoration: none;
    }
    
    .header-navigation {
        width: 75%;
        text-align: right;
        padding: 25px 10px;
    }
    
    .header-navigation a {
        color: #6e6e6e;
        padding: 20px;
    }
    
    .header-logo-img {
        height: 80px;
        position: absolute;
        left: 5%;
        width: 6%;
        border-radius: 100%;
    }
    
    .span-sort {
        padding: 10px;
    }
    
    .span-sort,
    .span-search {
        font-weight: 400;
    }
    
    .food-sort {
        padding: 50px 0;
    }
    
    .logo-span,
    .header-logo-img {
        float: left;
        padding: 6px;
    }
    
    .text-align-c {
        text-align: center;
    }
    
    .logo-span {
        position: absolute;
        left: 12%;
        top: 2%;
        color: #fa5650;
    }
    
    .btn {
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 15px;
        color: #5e5e5e;
    }
    
    .border-none {
        border: none;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 20px;
        font-weight: 600;
    }
    
    h3 {
        font-weight: 100;
    }
    
    h4 {
        font-size: 18px;
    }
    
    .color-white {
        color: #fff;
    }
    
    .b-none {
        border: none;
    }
    
    .banner {
        width: 100%;
        height: 100%;
    }
    
    .banner-image,
    .banner-text {
        float: left;
    }
    
    .banner-image {
        width: 75%;
        height: inherit;
    }
    
    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .banner-text {
        width: 25%;
        height: inherit;
        background-color: #EA474C;
        text-align: left;
        padding: 30px;
    }
    
    .banner-text p {
        line-height: 1.5;
        font-size: 17px;
        padding-bottom: 10px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .Recipes-menu,
    .recipes-detail {
        padding: 50px;
        background-color: #f6f6f6;
    }
    
    .Recipes-type {
        background-color: #FF4A52;
        border-radius: 5px;
    }
    
    .Recipes-menu {
        padding: 5px 60px;
    }
    
    .filter-column-left {
        float: left;
        padding: 10px;
        width: 24%;
    }
    
    .filter-column-right {
        width: 76%;
        float: left;
        background-color: #f6f6f6;
        padding: 10px 0 10px 10px;
    }
    
    .filter-span-right {
        float: right;
        font-size: 20px;
        position: relative;
    }
    
    .filter-span-left {
        font-size: 20px;
    }
    
    .sort-left {
        float: left;
    }
    
    .sort-left button {
        border: 1px solid black;
    }
    
    .search {
        float: right;
    }
    /* The container */
    
    .container1 {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        /* -moz-user-select: none;
        -ms-user-select: none; */
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
    }
    /* When the checkbox is checked, add a blue background */
    
    .container1 input:checked~.checkmark {
        background-color: #fff;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .container1 input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .container1 .checkmark {
        padding: 5px;
    }
    
    .container1 .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .food-nationality-col,
    .food-type-col {
        float: left;
    }
    
    .food-type-col {
        width: 24%;
        padding: 15px;
    }
    
    .food-type-col span,
    .food-nationality-col span {
        font-size: 20px;
        display: block;
        padding: 5px 5px 15px 5px;
    }
    
    .food-nationality-col {
        width: 76%;
        padding: 15px 0;
    }
    
    .border-left {
        border-left: 1px solid #fff;
        padding-left: 20px;
    }
    
    .country-dish {
        float: left;
        width: 33.33%;
    }
    
    .recipes-detail-col {
        width: 25%;
        float: left;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    
    .recipes-detail-col p {
        color: #505050;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .recipes-detail-card {
        padding: 15px;
        background-color: #fff;
        height: 35%;
    }
    
    .align-left {
        float: left;
        font-size: 12px;
        color: #6e6e6e;
    }
    
    .align-right {
        float: right;
        font-size: 12px;
        color: #6e6e6e;
    }
    
    .recipe-img {
        width: 100%;
        height: inherit;
    }
    
    .return-top {
        color: red;
        padding: 12px;
    }
    
    .recipe-feedback {
        padding: 60px;
        background-color: #FF4A52;
    }
    
    input[type=text],
    input[type=email] {
        padding: 15px;
        display: inline-block;
        border: none;
        width: 85%;
        border-radius: 5px;
    }
    
    .center {
        padding: 20px 0;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        outline: none;
    }
    
    .sign-up-col {
        float: left;
        width: 25%;
    }
    
    .btn-sign-up {
        background-color: #FF4A52;
        padding: 12px;
        width: 40%;
        border: 1px solid white;
    }
    
    .button-send {
        padding: 20px 10px;
    }
    
    .btn-send {
        border: none;
        padding: 15px 55px !important;
    }
    
    .label-signup {
        margin-bottom: 10px;
        display: block;
    }
    
    .margin-top {
        margin-top: 10px;
    }
    
    .sign-up-display {
        border-bottom: 1px solid #fff;
    }
    
    .form-remove-row,
    .form-add-row {
        padding: 20px 0;
    }
    
    .form-remove-row {
        border-bottom: 1px solid #fff;
    }
    
    .form-remove-row::after,
    .form-add-row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .footer {
        background-color: #fff;
        padding: 50px;
    }
    
    .footer-col {
        float: left;
        width: 20%;
        padding: 5px;
        color: #6e6e6e;
    }
    
    .footer-para {
        color: red;
    }