    html,
    body,
    div {
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
    
    .padding-x {
        padding: 0 5px;
    }
    
    .padding-y {
        padding: 20px 0;
    }
    
    .backcolor-white {
        background-color: #fff;
    }
    
    .color-grey {
        color: #6e6e6e;
    }
    
    .w-25 {
        width: 25%;
    }
    
    .w-75 {
        width: 75%;
    }
    
    .w-100 {
        width: 100%;
    }
    
    .text-none {
        text-decoration: none;
    }
    
    header {
        width: 100%;
        height: auto;
    }
    
    .header-logo {
        padding: 0 60px;
    }
    
    .logo-image,
    .logo-span {
        display: inline;
    }
    
    .header-navigation {
        text-align: right;
        padding: 30px 40px;
    }
    
    .header-navigation a {
        color: #6e6e6e;
        text-decoration: none;
        padding: 20px;
    }
    
    .header-logo-img {
        height: 100px;
        left: 67px;
        border-radius: 100%;
        position: absolute;
    }
    
    .span-sort {
        padding: 10px;
    }
    
    .span-sort {
        font-weight: 400;
    }
    
    .search input[type=text] {
        padding-bottom: 25px;
        border: none;
        outline: none;
        width: 100px;
        font-size: 15px;
        text-align: right;
        padding-right: 0;
        background-color: #f6f6f6;
    }
    
    .select {
        padding: 15px 25px;
        border-radius: 3px;
        border: 1px solid #000;
        font-size: 15px;
        color: #5e5e5e;
        cursor: pointer;
    }
    
    .food-sort {
        padding: 50px 0;
    }
    
    .logo-span {
        width: 70%;
    }
    
    .logo-span {
        font-weight: 100;
    }
    
    .logo-image {
        width: 30%;
    }
    
    .text-align-c {
        text-align: center;
    }
    
    .logo-span {
        color: #fa5650;
    }
    
    .logo-span>h4 {
        font-weight: 100;
    }
    
    .btn {
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 15px;
        color: #5e5e5e;
        cursor: pointer;
    }
    
    .border-none {
        border: none;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 20px;
        font-weight: 600;
    }
    
    h3 {
        font-weight: 100;
    }
    
    h4 {
        font-size: 18px;
    }
    
    .color-white {
        color: #fff;
    }
    
    .b-none {
        border: none;
    }
    
    .banner {
        overflow: scroll;
    }
    /* .banner-r {
        height: 700px;
    } */
    
    .banner-image {
        height: inherit;
    }
    
    .banner-img {
        height: 100%;
        object-fit: cover;
    }
    
    .banner-text {
        height: inherit;
        background-color: #EA474C;
        text-align: left;
        padding: 15px;
    }
    
    .banner-text p {
        line-height: 1.5;
        font-size: 17px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .Recipes-menu,
    .recipes-detail {
        padding: 50px;
        background-color: #f6f6f6;
    }
    
    .Recipes-type {
        background-color: #FF4A52;
        border-radius: 5px;
    }
    
    .Recipes-menu {
        padding: 5px 60px;
    }
    
    .filter-column-left {
        padding: 10px;
        width: 24%;
    }
    
    .filter-column-right {
        width: 76%;
        background-color: #f6f6f6;
        padding: 10px 0 10px 10px;
    }
    
    .filter-span-right {
        float: right;
        font-size: 20px;
        position: relative;
    }
    
    .filter-span-left {
        font-size: 20px;
    }
    
    .sort-left {
        float: left;
    }
    
    .sort-left button {
        border: 1px solid black;
    }
    
    .search {
        text-align: right;
    }
    /* The container */
    
    .container1 {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        /* -moz-user-select: none;
        -ms-user-select: none; */
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
    }
    /* When the checkbox is checked, add a blue background */
    
    .container1 input:checked~.checkmark {
        background-color: #fff;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .container1 input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .container1 .checkmark {
        padding: 5px;
    }
    
    .container1 .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .food-type-col {
        width: 24%;
        padding: 15px;
    }
    
    .food-type-col span,
    .food-nationality-col span {
        font-size: 20px;
        display: block;
        padding: 5px 5px 15px 5px;
    }
    
    .food-nationality-col {
        width: 76%;
        padding: 15px 0;
    }
    
    .border-left {
        border-left: 1px solid #fff;
        padding-left: 20px;
    }
    
    .country-dish {
        width: 33.33%;
    }
    
    .recipes-detail-col {
        padding: 0 10px;
    }
    
    .recipes-detail-col h2 {
        color: #505050;
        font-size: 25px;
        font-weight: 300;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .recipes-detail-card {
        padding: 15px;
        height: 35%;
        background-color: #fff;
    }
    
    .align-left {
        float: left;
        font-size: 12px;
        color: #6e6e6e;
    }
    
    .align-right {
        float: right;
        font-size: 12px;
        color: #6e6e6e;
    }
    
    .recipe-img {
        height: inherit;
    }
    
    .return-top {
        color: red;
        padding: 12px;
    }
    
    .recipe-feedback {
        padding: 60px;
        background-color: #FF4A52;
    }
    
    input[type=text],
    input[type=email] {
        padding: 15px;
        display: inline-block;
        border: none;
        width: 80%;
        border-radius: 5px;
    }
    
    .center {
        padding: 20px 0;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        outline: none;
    }
    
    .btn-sign-up {
        background-color: #FF4A52;
        padding: 10px 20px;
        border: 1px solid white;
    }
    
    .button-send {
        padding: 20px 10px;
    }
    
    .btn-send {
        border: none;
        padding: 15px 30px !important;
    }
    
    .label-signup {
        margin-bottom: 10px;
        display: block;
    }
    
    .margin-top {
        margin-top: 10px;
    }
    
    .sign-up-display {
        border-bottom: 1px solid #fff;
    }
    
    .form-remove,
    .form-add {
        padding: 20px 0;
        display: flex;
    }
    
    .form-remove {
        border-bottom: 1px solid #fff;
    }
    
    footer {
        background-color: #fff;
        padding: 50px;
    }
    
    .footer-col {
        width: 20%;
        padding: 10px;
        color: #6e6e6e;
    }
    
    .footer-para {
        color: #ff0000;
    }
    
    @media screen and (max-width:575px) {
        .footer-col,
        .recipes-detail-col {
            width: 100%;
        }
        .recipes-detail-col {
            padding-bottom: 20px;
        }
        .recipes-detail-col h2 {
            font-size: 20px;
        }
        .header-logo,
        .header-navigation {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            display: block;
        }
        .header-navigation a {
            padding: 5px;
            display: block;
        }
        .food-nationality-col,
        .food-type-col {
            width: 100%;
        }
        .country-dish {
            padding-bottom: 20px;
            width: 100%;
        }
        .sign-up-col {
            width: 100%;
        }
        .banner {
            padding-bottom: 40px;
        }
        .banner h3,
        .banner h1,
        .banner p {
            font-size: inherit;
        }
        .header-logo-img {
            left: 75px;
            position: static;
        }
        .banner-text h1 {
            padding-right: 20px;
        }
        .banner-text {
            padding: 20px;
        }
        .banner-image,
        .banner-text {
            width: 100%;
        }
        .filter-column-left,
        .filter-column-right {
            width: 100%;
        }
        .sort-left,
        .search {
            width: 100%;
            text-align: center;
        }
        .select {
            padding: 10px;
        }
        .btn-send {
            padding: 15px 30px;
        }
        .btn-sign-up {
            padding: 15px;
        }
        .align-left,
        .align-right {
            width: 100%;
            text-align: center;
        }
        .logo-image,
        .logo-span {
            width: 100%;
        }
        .logo-span h4 {
            margin: 0;
        }
        .btn {
            padding: 10px;
        }
        .border-left {
            border: 0;
        }
    }
    
    @media only screen and (min-width: 576px) and (max-width: 799px) {
        .footer-col,
        .recipes-detail-col {
            width: 50%;
        }
        .recipes-detail-col {
            padding-bottom: 10px;
            margin: 0;
        }
        .recipes-detail-col h2 {
            margin: 0;
            font-size: 15px;
        }
        .header-logo,
        .header-navigation {
            width: 100%;
            text-align: center;
            padding: 20px;
        }
        .header-navigation a {
            padding: 10px;
        }
        .food-nationality-col,
        .food-type-col {
            width: 100%;
        }
        .country-dish {
            padding-bottom: 20px;
            width: 50%;
        }
        .sign-up-col {
            width: 50%;
            padding-top: 30px;
        }
        .center {
            padding-top: 60px;
        }
        .btn-sign-up {
            margin: 0;
        }
        .banner {
            padding-bottom: 50px;
        }
        /* .header-logo-img {
            left: 160px;
        } */
        .banner-text>h1 {
            padding-right: 20px;
            font-size: 20px;
        }
        .banner-text {
            padding: 10px;
        }
        .btn {
            padding: 15px 5px;
        }
        .btn-sign-up {
            width: 50%;
        }
        .banner-image,
        .banner-text {
            width: 50%;
        }
        .filter-column-left,
        .filter-column-right {
            width: 50%;
        }
        .sort-left,
        .search {
            width: 50%;
            text-align: center;
        }
        .header-logo-img,
        .logo-span {
            display: inline;
        }
        .logo-image,
        .logo-span {
            width: 50%;
            display: inline-block;
        }
        .align-left,
        .align-right {
            width: 100%;
        }
        .recipes-detail-card {
            padding: 10px;
        }
    }