    html,
    body,
    div {
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: "Segoe UI";
    }
    
    .header {
        width: 100%;
        height: auto;
        padding: 0 50px;
    }
    
    .header::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .header-logo {
        width: 25%;
    }
    
    .header-logo,
    .header-navigation {
        float: left;
    }
    
    a {
        text-decoration: none;
    }
    
    .header-navigation {
        width: 75%;
        text-align: right;
        padding: 25px 10px;
    }
    
    .header-navigation a {
        color: #000;
        padding: 20px;
    }
    
    .header-logo-img {
        width: 80px;
        height: 65px;
    }
    
    .span-sort {
        padding: 10px;
    }
    
    .food-sort {
        padding: 50px 0;
    }
    
    .logo-span,
    .header-logo-img {
        float: left;
        text-align: center;
        padding: 6px;
    }
    
    .logo-span {
        margin-top: 15px;
        color: red;
    }
    
    .btn {
        padding: 10px;
        text-align: center;
    }
    
    .banner {
        width: 100%;
        height: 100%;
    }
    
    .banner-image,
    .banner-text {
        float: left;
    }
    
    .banner-image {
        width: 70%;
        height: inherit;
    }
    
    .banner-img {
        width: 100%;
        height: 100%;
    }
    
    .banner-text {
        width: 30%;
        height: inherit;
        background-color: #ff373f;
        text-align: left;
        padding: 30px;
        color: #fff;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    h2 {
        font-weight: 400;
    }
    
    .Recipes-menu,
    .recipes-detail {
        padding: 50px;
        background-color: #f6f6f6;
    }
    
    .Recipes-type {
        background-color: #FF4A52;
        border-radius: 5px;
    }
    
    .filter-column-left,
    .filter-column-right {
        float: left;
        padding: 10px;
    }
    
    .filter-column-left {
        width: 20%;
        color: #fff;
    }
    
    .filter-column-right {
        width: 80%;
        background-color: #f6f6f6;
    }
    
    .sort-left {
        float: left;
    }
    
    .search {
        float: right;
        text-align: center;
    }
    
    .rounded-checkbox {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        vertical-align: middle;
        outline: none;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .rounded-checkbox:checked {
        appearance: auto;
        clip-path: circle(50% at 50% 50%);
        background-color: #fff;
    }
    
    .food-nationality-col,
    .food-type-col {
        float: left;
        color: #fff;
        padding: 15px;
    }
    
    .food-type-col {
        width: 20%;
    }
    
    .food-type-col span {
        padding: 5px;
    }
    
    .food-nationality-col {
        width: 80%;
        border-left: 1px solid white;
        border-left-width: 20%;
    }
    
    .country-dish {
        float: left;
        width: 30%;
    }
    
    .recipes-detail-col {
        width: 25%;
        float: left;
        margin-bottom: 20px;
        padding: 0 10px;
    }
    
    .recipes-detail-card {
        padding: 10px;
        background-color: #fff;
    }
    
    .recipes-detail-card p {
        padding-top: 20px;
    }
    
    .align-left {
        float: left;
    }
    
    .align-right {
        float: right;
    }
    
    .recipe-img {
        width: 100%;
        height: inherit;
    }
    
    .return-top {
        color: red;
    }
    
    .recipe-feedback {
        padding: 50px;
        color: #fff;
        background-color: red;
    }
    
    input[type=text],
    input[type=email] {
        padding: 10px;
        display: inline-block;
        border: none;
        width: 60%;
    }
    
    .center {
        padding: 20px 0;
        text-align: center;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        outline: none;
    }
    
    .sign-up-col {
        float: left;
        width: 25%;
    }
    
    .btn-sign-up {
        background-color: red;
        padding: 10px;
        width: 40%;
        color: #fff;
        text-align: center;
        border: 1px solid white;
    }
    
    .footer {
        background-color: #fff;
        padding: 50px;
    }
    
    .footer-col {
        float: left;
        width: 20%;
    }